html, body {
    height: 100%;
    max-height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: #790e35;
}
.navbar {
    margin-bottom: 0;
}
.wrapper {
    min-height: 100%;
}
.wrapper-content {
    overflow: auto;
    padding-bottom: 180px;
}
.footer {
    position: relative;
    margin-top: -180px;
    height: 180px;
    clear: both;
    background-color: white;
}
.section-top {
    margin-bottom: 20px
}
.product-description-tabs {
    padding: 10px;
}
.section {
    padding: 50px 0;
}
.section h1 {
    margin-bottom: 40px;
}
.product-item {
    height: 360px;
    background-color: white;
    border: 3px solid lightgrey;
    position: relative;
    padding: 10px 0 10px 0;
    text-align: center;
    margin-bottom: 10px;
}
.add-to-card-btn {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}
.discount-container {
    position: absolute;
    top: 30%;
    background: #55e073;
    width: 30%;
    color: white;
    font-weight: 700;
    padding: 3px;
}

.section-delivery {
    height: 300px;
    background-color: darkseagreen;
    text-align: center;
    color: white;
}
.product-image-item {
    padding: 5px;
    margin-bottom: 5px;
}
.navbar-top {
    min-height: 10px;
    height: 20px;
    background-color: green;
    border: none;
    border-radius: 0;
}
.nav-link-main {
color: white;
}
.nav-link-main:hover {
color: #FFE4C4;
}
.basket-container {
    position: relative;
    width: 400px;
    padding: 15px 10px;
}
.basket-items {
    position: absolute;
    top: 50px;
    width: 100%;
    background-color: #55e093;
    z-index: 10;
    padding: 10px;
}
.form-error {
    color: red;
}
.bg-dark {
    background-color: #790e35!important;
}
.section-info {
  background-image:url(img/beverage.jpg);
}
.green {
  color: green;
}
.button {
  background-color: #790e35;
  color: white;
}
.button:hover {
  background-color: #CD5C5C;
  color: white;
}
