{% extends 'base.html' %}
{% load static %}

{% block content %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark nb-main">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/company/">Руководство <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link comp" href="/vacancy/">Вакансии</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">...</a>
      </li>
    </ul>
  </div>
</nav>
<div class="section-company">
  Место для информаци о компании
</div>
<div class="section">
    <div class="section section1">
      <h2 style="text-align: center; margin-bottom: 15px">Новинки</h2>
    <div class="container">
      <div class="row">
        {% for product_img in product_img_now %}

            {% include 'home/products_len.html' %}
        {% endfor %}
      </div>
    </div>
  </div>
<div class="section section-info">
    <h1 style="color:white; text-align: left; padding-top:40px;">Реклама</h2>
</div>
  <div class="section section2" >
    <h2 style="text-align: center; margin-top: 25px">Акции</h2>
  <div class="container">
    <div class="row">
      {% for product_img in product_img_soon %}
        {% include 'home/products_len.html' %}
      {% endfor %}
    </div>
  </div>
</div>
</div>
{% endblock content %}
