{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
       <div class="row">
           <div class="col-lg-6" >
               {% for image_item in product.productimage_set.all %}
                   <div class="product-image-item" style="margin-top: 40px">
                       <img src="{{ image_item.image.url }}" class="img-responsive">
                   </div>
               {% endfor %}
           </div>
           <div class="col-lg-6" >
               <h1 class="text-center" style="margin-top: 40px">
                   {{ product.name }}
               </h1>
               <div class="">
                   <p>
                       Стоимость: {{ product.price }}
                   </p>
               </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Описание</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Характеристики</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">...</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent" style="padding-bottom: 60px;">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">{{ product.description }}</div>
              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"> Характеристики</div>
              <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Дополнительная информация</div>
            </div>

            <div>
              <form id="form_buying_product" class="form-inline" action="{% url 'basket_adding' %}">{% csrf_token %}
              <h5>Выберите колличетво: </h5>
              <div class="form-group">
                  <input type="number" class="form-control" name="number" id="number" value="1" style="margin-left:10px; margin-right:30px; width: 80px;">
              </div>

              <div class="form-group">
                  <button class="button"type="submit" id="submit_btn"
                                    data-product_id = "{{ product.id }}"
                                    data-product_name ="{{ product.name }}"
                                    data-price ="{{ product.price }}">
                                    В корзину </button>
              </div>
            </div>
          </div>
        </div>
        
<div class="section">
  <div class="section section1">
    <h2 style="text-align: center; margin-bottom: 15px">Новинки</h2>
    <div class="container-fluid">
      <div class="row">
        {% for product_img in product_img_now %}

        {% include 'home/products_len.html' %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
