<div class="nav_st" style="width: 100%; height:auto;">
  <nav class="navbar navbar-default nb-top">
  <h5 class="number">+7 000-000-00-00 </h5>
  </nav>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark nb-main">
  <!-- <a class="navbar-brand" href="#">Top navbar</a> -->
    <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Кофе">
      <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
       width="40.000000pt" height="40.000000pt" viewBox="0 0 512.000000 512.000000"
       preserveAspectRatio="xMidYMid meet" <title>Кофе и кофейные автоматы</title>>

      <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
      fill="#FFFFFF" stroke="none">
      <path d="M2270 4440 c-719 -83 -1458 -584 -1909 -1293 -78 -122 -178 -323
      -225 -448 -93 -249 -127 -411 -133 -650 -6 -204 9 -327 58 -473 35 -106 99
      -236 115 -236 44 0 234 94 387 191 309 196 633 475 783 675 117 156 169 270
      304 669 93 275 126 359 191 487 93 181 210 340 347 469 137 131 248 194 572
      325 250 100 309 127 310 137 0 11 -133 71 -213 96 -37 11 -101 27 -144 35 -98
      18 -344 27 -443 16z"/>
      <path d="M3282 3953 c-57 -30 -214 -100 -350 -155 -338 -136 -429 -189 -533
      -310 -171 -202 -233 -326 -385 -771 -138 -404 -209 -555 -351 -744 -219 -292
      -718 -696 -1113 -901 -49 -26 -90 -49 -90 -52 0 -12 131 -92 210 -129 471
      -219 1145 -110 1738 282 183 121 318 231 478 391 354 355 591 750 713 1189 83
      298 85 633 5 891 -42 133 -175 367 -209 366 -5 -1 -56 -26 -113 -57z"/>
      <path d="M3776 3103 c-19 -152 -30 -219 -52 -315 l-25 -106 45 -61 c96 -131
      153 -255 257 -560 120 -350 198 -462 484 -695 157 -128 355 -253 466 -294 l57
      -21 35 77 c64 140 72 185 72 392 -1 169 -3 194 -28 290 -79 299 -236 573 -467
      814 -214 224 -459 388 -732 490 -53 20 -99 36 -102 36 -3 0 -7 -21 -10 -47z"/>
      <path d="M3517 2235 c-117 -232 -308 -499 -502 -703 l-84 -88 84 -101 c281
      -336 651 -566 1045 -649 117 -24 338 -25 440 -1 95 23 328 135 309 150 -2 2
      -40 23 -84 46 -240 128 -539 362 -689 541 -132 157 -195 280 -301 590 -65 188
      -131 350 -144 350 -3 0 -37 -61 -74 -135z"/>
      </g>
      </svg>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse  navbar navbar-collapse navbar-main" id="navbarCollapse">
        <ul class="navbar">
          <li class="nav-item">
            <a class="nav-link-main active" href="/#">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-main " href="/company/#company">Компания</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-main" href="#">Каталог</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-main" href="#">Помощь</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-main" href="#">Акции</a>
          </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="">
          <div class="basket-container">
            <a class="basket-nav" href="/home/checkout/" style='color: #dbdad4; margin-bottom: 0;'> Корзина
              <span id="basket_total_nmb">{% if product_total_nmb %}
                                ({{ product_total_nmb }})
                            {% else %}
                                (0)
                            {% endif %}
              </span>
            </a>
          <div class="basket" style="margin-top:0;">
            <ul style="color: white">
              {% for product_in_basket in products_in_basket %}
              <li>
                  {{ product_in_basket.product.name }} {{ product_in_basket.nmb }} шт.
              <a class="delete-item" href="" data-product_id="{{ product_in_basket.id }}">x</a>
              </li>
                    {% endfor %}
            </ul>
          </div>
        </div>
      </li>
      </ul>
    </div>
  </nav>
</div>
