{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="section-top" style="margin-bottom: 15px">
    <img src="{% static 'img/coffee1.jpg' %} " class="img-responsive" style="height: auto ; width: 100%;">
  </div>
  <div class="section">
    <div class="section section1">
      <h2 style="text-align: center; margin-bottom: 15px">Новинки</h2>
    <div class="container">
      <div class="row">
        {% for product_img in product_img_now %}

            {% include 'home/products_len.html' %}
        {% endfor %}
      </div>
    </div>
  </div>
<div class="section section-info">
    <h1 style="color:white; text-align: left; padding-top:40px;">Реклама</h2>
</div>
  <div class="section section2" >
    <h2 style="text-align: center; margin-top: 25px">Акции</h2>
  <div class="container">
    <div class="row">
      {% for product_img in product_img_soon %}
        {% include 'home/products_len.html' %}
      {% endfor %}
    </div>
  </div>
</div>
  </div>
{% endblock content %}
