<!DOCTYPE html>
{% load static %}
<html class="no-js" lang="ru">

<head>
  <link rel="stylesheet" href="{% static 'landing.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Home</title>

</head>
<body>
  <div class="general-container">

  <div class="container top-container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1 class="title" align="center">  Путешествия и туризм по Псковской области.<br></h1>
        <h1 class="title" align="center">
            Сервис скоро начнет свою работу!<br></h1>
        <h2 class="title" align="center">Оставляйте вашу почту и мы с вами свяжемся<br></h1>
        <div>
          <form class="form-inline text-center" action="" method="post">{%csrf_token %}
            <div class="form-group mb-2">
              <label> Ваш email: <label>
            <input type="text" name="{{form.email.name}}" class="form-control">
            </div>
            <div class="form-group mb-2">
              <label> Ваше имя: <label>
                <input type="text" name="{{form.name.name}}" class="form-control">
            </div>
            <div>
              <button class="btn btn-dark">Отправить</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
</body>
</html>
