<div class="col-lg-4">
  <div class="top-cover center-block">

  <div class="product-item">
      <div>
        <a href="{% url 'product' product_img.product.id %}">
          <img class= "icon_img" src="{{ product_img.image.url }}" alt="img-responsive">
        </a>
      </div>
      {% if product_img.product.discount %}
      <div class="discount" >
      <span>{{product_img.product.discount}} %</span>
      </div>
      {% endif %}
      <h4>{{product_img.product.name}}</h4>
      <div class="price">
        <h5>{{product_img.product.price}} р.</h5>
      </div>
      <div class="add_to_cart_btn">
          <form id="form_buying_product_len" class="form-inline" action="{% url 'basket_adding' %}">{% csrf_token %}
          <button class="button"type="submit" id="submit_btn_len"
                        data-product_id = "{{ product_img.product.id }}"
                        data-product_name ="{{ product_img.product.name }}"
                        data-price ="{{ product_img.product.price }}">
                        В корзину </button>
        <!-- <button class="button" type="button button-color" name="button">В корзину</button> -->
      </div>
  </div>
</div>
</div>
